.card-style{
    width:250px;
    height:250px;
    margin:20px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 2px 10px 3px;   
    border-radius:20px 
}
.card-btn{
   color:rgb(255, 255, 255);
    background-color:rgb(14, 169, 207);
    border:none;
    height: 35px;
    width:70px;
    
}
.card-btn:hover{
    background-color:black;
}