.destination-page{
    background-image: url("../../images/unnamed.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  position: center center;
  background-attachment: fixed;
  min-height: 100vh;
}
.form{
  padding-top:20px;
  top:10%;
  margin: auto;
  
}
.input-box{
  padding: 20px;
  background-color:#dfe0e0;
  border-radius: 10px;
  
  
}
.pickup-form{
  padding: 20px;
}
.input-box input{
  display: block;
   
    padding: 5px;
    border: 1px solid gray;
    border-radius:5px;
    border:none;
    width: 230px;
   
    margin: auto;
}
.submit{
  background-color:rgb(248, 116, 8);
  width:230px;
  border:none;
}
.submit:hover{
  background-color:rgb(223, 104, 8);
}
